<div class="w-full overflow-hidden leading-none" aria-hidden="true">
    <svg
        class="block w-full h-20 sm:h-24 md:h-28 lg:h-32" 
      viewBox="0 0 1440 200"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <!-- Montaña lejana -->
      <path
        fill="#ffffff"
        opacity="0.4"
        d="M0,160 L200,100 L350,140 L520,80 L700,150 L900,90 L1100,140 L1300,100 L1440,130 L1440,200 L0,200 Z"
      />
  
      <!-- Montaña media -->
      <path
        fill="#ffffff"
        opacity="0.7"
        d="M0,170 L180,110 L340,150 L540,90 L720,160 L940,100 L1150,150 L1440,110 L1440,200 L0,200 Z"
      />
  
      <!-- Montaña frontal -->
      <path
        fill="#ffffff"
        d="M0,180 L220,120 L400,160 L600,100 L820,170 L1050,110 L1280,160 L1440,130 L1440,200 L0,200 Z"
      />
    </svg>
  </div>
  