<div class="w-full overflow-hidden leading-none" aria-hidden="true">
    <svg
      class="block w-full h-24 sm:h-28 md:h-32 lg:h-36"
      viewBox="0 0 1440 160"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill="#ffffff"
        d="
         M 0 120 C 158 133 120 60 248 53 C 260 80 276 106 295 130 C 448 118 365 63 481 116 C 537 106 558 63 583 63 C 662 112 640 130 700 120 C 817 128 799 75 843 65 C 926 145 899 56 924 35 C 940 90 1075 87 1080 120 C 1094 92.6667 1108 65.3333 1139 83 C 1160 110 1200 70 1274 72 C 1340 80 1380 110 1440 100 L 1440 160 L 0 160 Z
        "
      />
    </svg>
  </div>
  