---
// Soft wave-shaped divider between sections
---

<div class="relative w-full overflow-hidden" aria-hidden="true">
  <svg
    class="relative block w-full h-12 sm:h-16 md:h-20 lg:h-24"
    viewBox="0 0 1440 120"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill="white"
      d="M0,64 C360,120 720,0 1080,64 C1260,96 1380,96 1440,64 L1440,120 L0,120 Z"
    />
    <path
      fill="white"
      d="M0,80 C240,40 480,100 720,80 C960,60 1200,100 1440,80 L1440,120 L0,120 Z"
      opacity="0.9"
    />
  </svg>
</div>
